.card-list{
    padding: 20px;
}

.appointment-card{
    align-items: center;
    height:275px;
    width:250px;
    background-color: rgb(233, 239, 239);
    object-fit: contain;
    border-radius: 15px;
    padding: 10px;
    border: none;
}

.status-button{
    background-color:rgb(192, 204, 255) ;
    padding: 5%;
}

.doctor-image{
    height:22%;
    width: 25%;
    /* border-radius: 15px 15px 0px 0px; */
   border-radius: 50%;
}

.view-button{
    background-color: rgb(128, 128, 211) !important;  
    color: white;
}

.chat-button{
    background-color: rgb(83, 169, 83) !important;  
    color: white;
}

.card-title{
    text-align: center;
    font-size: 1.5rem;

}
