.card-list{
    padding: 20px;
}

.appointment-card{
    height:390px;
    width:225px;
    background-color: rgb(209, 222, 216);
    object-fit: contain;
    border-radius: 15px;
    
}

.status-button{
    background-color:rgb(192, 204, 255) ;
    padding: 5%;
}

.doctor-image{
    height:50%;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    /* object-fit: contain; */
}

.view-button{
    background-color: rgb(128, 128, 211) !important;  
    color: white;
}

.chat-button{
    background-color: rgb(83, 169, 83) !important;  
    color: white;
}