<body>
    <app-header></app-header>

    <div class="container d-flex justify-content-center align-items-center viewHeight col-lg-6">
        <mat-card class="matCard col-sm-6">

            <mat-card-header class="loginText mx-auto">LOGIN</mat-card-header>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <mat-card-content>
                    <mat-form-field class="fullWidth">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" formControlName="email" class="fullWidth">
                        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
                            Email is <strong>invalid</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="fullWidth">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Password" formControlName="password" class="fullWidth"
                            [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix type="button" (click)="hide = !hide"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
                            Password is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <button mat-raised-button color="primary">LOGIN</button>
                </mat-card-content>
            </form>
            <div class="d-flex signUp mx-auto">
                <div class=" ">Don't have an account?</div>
                <div><a href="" class="text-decoration-none px-1" [routerLink]="['/signup']"> Sign up</a></div>
            </div>
        </mat-card>
    </div>

</body>