<body>
    <app-header></app-header>

    <div class="container d-flex justify-content-center align-items-center viewHeight">
        <mat-card class="matCard ">

            <mat-card-header class="loginText mx-auto">LOGIN</mat-card-header>
            <mat-card-content>
                <mat-form-field class="fullWidth">
                    <input matInput placeholder="Email" formControlName="email" class="fullWidth">
                </mat-form-field>

                <mat-form-field class="fullWidth">
                    <input matInput placeholder="Password" formControlName="password" class="fullWidth">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <button mat-raised-button color="primary">LOGIN</button>
            </mat-card-content>
            <div class="d-flex signUp mx-auto">
                <div class=" ">Don't have an account?</div>
                <div><a href="" class="text-decoration-none px-1"> Sign up</a></div>
            </div>
        </mat-card>
    </div>

</body>