.carousal{
    
    max-height:525px;
    object-fit: cover;
}

.image{
    max-height:525px;
    width: 100%;
    @media (max-width: 576px) {
        height: 250px;
       }
}

.heading{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 1500px;
    font-size: 35px;
    color: rgb(87, 153, 131);
}

.doctor-card {
    max-width: 400px;
    box-shadow: none;
    align-items: center;
    transition: box-shadow 0.2s ease-in-out;
  }

  .doctor-card:hover{
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}

  .department-image{
    max-width: 500px;
    height: 350px;
    object-fit: cover;
    @media (max-width: 576px) {
        max-width: 360px;
        height: 350px;
       }
  }

  .department-text{
    font-size: large;
    font-weight: 500px;
    color: rgb(83, 83, 81);
  }

  .doctor-image{
    border-radius: 50%;
    object-fit: cover;
    max-width: 200px;
    height: 200px;
  }

  .book-button{
    font-size: small;
    @media (max-width: 576px) {
        font-size: 10px;
       }
  }

  .doctor-heading{
    margin-left: 8%;
    @media (max-width: 576px) {
      font-size: 30px;
     }
  }
  
.award-banner-img{
  width: 100%;
 
  height:200px
}

.award-banner{
  padding-left: 300px;
  padding-right: 300px;
}