<ngb-carousel #carousel [interval]="5000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]=true class="carousal">
    <ng-template ngbSlide *ngFor="let img of images; index as i">
        <a target="_blank" rel="nofollow noopener noreferrer">
            <div class="picsum-img-wrapper">
                <img [src]="img" alt="My image {{i + 1}} description" class="image" />
            </div>
        </a>
    </ng-template>
</ngb-carousel>
<div class="text-center pt-5 heading">OUR DEPARTMENTS</div>
<div class="container d-flex flex-wrap mt-3 ">
    <mat-card class="doctor-card mx-3">
        <img class="department-image" mat-card-image src="../../../assets/cardiology.jpg" alt="Photo of department">
        <mat-card-content class="text-center pt-3 department-text">
            CARDIOLOGY
        </mat-card-content>
    </mat-card>
    <mat-card class="doctor-card mx-3">
        <img class="department-image" mat-card-image src="../../../assets/general-surgery.jpg"
            alt="Photo of department">
        <mat-card-content class="text-center pt-3 department-text">
            GENERAL SURGERY
        </mat-card-content>
    </mat-card>
    <mat-card class="doctor-card mx-3">
        <img class="department-image" mat-card-image src="../../../assets/internal-medicine.jpg"
            alt="Photo of department">
        <mat-card-content class="text-center pt-3 department-text">
            INTERNAL MEDICINE
        </mat-card-content>
    </mat-card>
</div>
<div class="award-banner">
    <img src="../../../assets/award-winner-banner.jpg" class="award-banner-img" alt="award-banner">
</div>
<div class="d-flex justify-content-between pt-5 px-3">
    <div class="text-center heading doctor-heading">OUR DOCTORS</div>
    <button mat-raised-button [routerLink]="['allDoctors']" class="me-3">VIEW ALL</button>
</div>
<div class="container d-flex flex-nowrap overflow-auto my-3">
    <mat-card class="doctor-card mx-3" *ngFor="let doctor of doctorList.slice(0, 4)">
        <img class="doctor-image" src="../../../assets/doctor.jpg" alt="Photo of doctor">
        <mat-card-content>
            <div class="text-center pt-3 doctor-name-text">Dr. {{doctor.first_name}} {{doctor.last_name}}</div>
            <div class="text-center pt-1 doctor-name-text">{{doctor.department}}</div>
        </mat-card-content>
        <mat-card-actions class="mx-auto">
            <button mat-raised-button color="primary" class="book-button" [routerLink]="['/booking', doctor._id]">BOOK
                AN APPOINTMENT</button>
        </mat-card-actions>
    </mat-card>
</div>