<ngb-carousel #carousel [interval]="5000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]=true class="carousal">
    <ng-template ngbSlide *ngFor="let img of images; index as i">
        <a target="_blank" rel="nofollow noopener noreferrer">
            <div class="picsum-img-wrapper">
                <img [src]="img" alt="My image {{i + 1}} description" class="image" />
            </div>
        </a>
    </ng-template>
</ngb-carousel>

<div class="hospital-promo">
    <div class="promo-card-outer mx-auto d-flex gap-5">
        <div class="promo-card card">
            <span class="trust-span">Why Trust Us</span>
            <div>
                <h1 class="pt-xl-3 promo-header-text">Expertise & Innovation For The Best
                    Treatments
                </h1>
                <div class="py-3 promo-body-text">
                    <span class="small-text">We, as a team of doctors together, have developed a healthcare
                        facility
                        with advanced
                        care
                        and technology
                        that leads to correct diagnosis, treatment with apt machines and lifelong recovery.</span>
                </div>
            </div>
            <div class="d-flex color-cards mx-auto gap-5">
                <div class="pink-card card">
                    <span class="pink-card-span">790+</span>
                    <h2 style="color: white;">Statisfied Patients</h2>
                </div>
                <div class="blue-card card">
                    <div class="blue-card card">
                        <span class="blue-card-span">1500+</span>
                        <h2 style="color: white;">Patient/year</h2>
                    </div>
                </div>
            </div>
            <div class="d-flex pt-xl-5">
                <img src="../../../assets/bullettin.png" alt="" class="bulletin">
                <p class="small-screen-promo-text"> Experienced Medical
                    Staff & Specialists
                    who treat you as a priority</p>
            </div>
            <div class="d-flex">
                <img src="../../../assets/bullettin.png" alt="" class="bulletin">
                <p class="promo-body-text">Compliant with Global Healthcare Norms & Best Practices</p>
            </div>
            <div class="d-flex ">
                <img src="../../../assets/bullettin.png" alt="" class="bulletin">
                <p class="promo-body-text">Effective Diagnosis through Advanced Machinery & Modular OTs</p>
            </div>
        </div>
        <div class="promo-img-div">
            <img src="../../../assets/hospital-promo.webp" alt="" class="promo-img">
        </div>
    </div>
</div>

<div class="text-center py-3 heading gradient">OUR DEPARTMENTS</div>
<div class="container d-flex flex-wrap  gap-3 py-5 justify-content-between">
    <ng-container *ngFor="let department of departments">
        <div class="department-card mx-1 card">
            <img class="department-image" src="{{department.image?.url}}" alt="Photo of department">

            {{department.dept_name | uppercase}}

        </div>
    </ng-container>
</div>
<div class="award-banner pb-5">
    <img src="../../../assets/award-winner-banner.jpg" class="award-banner-img" alt="award-banner">
</div>
<div class="d-flex justify-content-between py-3 px-3 gradient">
    <div class="text-center heading doctor-heading">OUR DOCTORS</div>
    <div class="pt-1">
        <button mat-raised-button [routerLink]="['allDoctors']" class="me-3 ">VIEW ALL</button>
    </div>
</div>
<div class="container d-flex flex-nowrap overflow-auto my-3 justify-content-between">
    <mat-card class="doctor-card mx-3" *ngFor="let doctor of doctorList.slice(0, 4);trackBy:trackById">
        <img class="doctor-image" src="../../../assets/doctor.jpg" alt="Photo of doctor">
        <mat-card-content>
            <div class="text-center pt-3 doctor-name-text">Dr. {{doctor.first_name}} {{doctor.last_name}}</div>
            <div class="text-center pt-1 doctor-dept-text">{{doctor.department}}</div>
        </mat-card-content>
        <mat-card-actions class="mx-auto">
            <button mat-raised-button color="primary" class="book-button" [routerLink]="['/booking', doctor._id]">BOOK
                AN APPOINTMENT</button>
        </mat-card-actions>
    </mat-card>
</div>