<div class="container d-flex justify-content-center align-items-center viewHeight col-lg-6">
    <mat-card class="matCard col-sm-6">

        <mat-card-header class="email-text mx-auto">ENTER NEW PASSWORD</mat-card-header>
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
            <mat-card-content>
                <mat-form-field class="fullWidth inputHeight ">
                    <input matInput placeholder="Password" formControlName="password" class="fullWidth"
                        [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-hint *ngIf="passwordForm.get('password')?.value === ''">*Password should contain both numbers
                        & letters</mat-hint>
                    <mat-error *ngIf="passwordForm.get('password')?.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="passwordForm.get('password')?.hasError('minlength')">
                        Password should contain minimum of <strong>4</strong> characters
                    </mat-error>
                    <mat-error *ngIf="passwordForm.get('password')?.hasError('maxlength')">
                        Password should contain maximum of <strong>10</strong> characters
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary">Submit</button>
            </mat-card-content>
        </form>
    </mat-card>
</div>