<mat-card class=" col-6 mx-auto userCard">
    <mat-card-header class="">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Juvin</mat-card-title>
        <mat-card-subtitle>User Profile</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>


        <form [formGroup]=" passwordForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="fullWidth inputHeight ">
                <input matInput placeholder="Password" formControlName="password" class="fullWidth"
                    [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix type="button" (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="passwordForm.get('password')?.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="passwordForm.get('password')?.hasError('minlength')">
                    Password should contain minimum of <strong>4</strong> characters
                </mat-error>
                <mat-error *ngIf="passwordForm.get('password')?.hasError('maxlength')">
                    Password should contain maximum of <strong>10</strong> characters
                </mat-error>
            </mat-form-field>

            <mat-form-field class="fullWidth inputHeight ">
                <input matInput placeholder="Confirm Password" formControlName="confirm_password" class="fullWidth"
                    [type]="hideConfirm ? 'password' : 'text'">
                <button mat-icon-button matSuffix type="button" (click)="hideConfirm = !hideConfirm"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm">
                    <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-hint *ngIf="passwordForm.get('confirm_password')?.value === ''">*Password should contain both
                    numbers
                    and
                    letters</mat-hint>
                <mat-error *ngIf="passwordForm.get('confirm_password')?.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="passwordForm.get('confirm_password')?.hasError('minlength')">
                    Password should contain minimum of <strong>4</strong> characters
                </mat-error>
                <mat-error *ngIf="passwordForm.get('confirm_password')?.hasError('maxlength')">
                    Password should contain maximum of <strong>10</strong> characters
                </mat-error>
            </mat-form-field>

            <div class="py-1">
                <button class mat-raised-button color="primary">UPDATE</button>
            </div>

        </form>


    </mat-card-content>
</mat-card>