<div class="table-container">
    <table mat-table [dataSource]="data" class="mat-elevation-z8">
        <ng-container matColumnDef="rowIndex">
            <mat-header-cell *matHeaderCellDef> Index </mat-header-cell>
            <mat-cell *matCellDef="let element;index as i;"> {{ i }} </mat-cell>
        </ng-container>
        <ng-container *ngFor="let column of columnsConfig" [matColumnDef]="column.name">
            <th mat-header-cell *matHeaderCellDef> {{ column.header }} </th>

            <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="column.name === 'actions'">
                    <button mat-raised-button (click)="onEdit(element)" class="editButton">Edit</button>
                    <ng-container *ngIf="element.is_blocked; else unblockButton">
                        <button mat-raised-button (click)="onUnBlock(element)"
                            class="unblockButton mx-lg-3 ">Unblock</button>
                    </ng-container>
                    <ng-template #unblockButton>
                        <button mat-raised-button color="warn" (click)="onBlock(element)"
                            class="blockButton mx-lg-3">Block</button>
                    </ng-template>
                    <!-- Add more buttons as needed -->
                </ng-container>

                <ng-container *ngIf="column.name !=='actions'">
                    {{ element[column.name] }}
                </ng-container>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef=" displayedColumns" class="headerColor"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
</div>