.doctor-card {
    max-width: 400px;
    box-shadow: none;
    transition: box-shadow 0.2s ease-in-out;
    align-items: center;
}

.doctor-image{
    border-radius: 50%;
    object-fit: cover;
    max-width: 200px;
    height: 200px;
  }

.banner-image{
    height:450px;
    width:100%
}

.doctor-card:hover{
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}

.input-group{
    align-items: center;
    margin-left: 10%;
}

.form-control{
    width: 150px;
}