.doctor-card {
    max-width: 400px;
    box-shadow: none;
    transition: box-shadow 0.2s ease-in-out;
    align-items: center;
}

.doctor-image{
    border-radius: 50%;
    object-fit: cover;
    max-width: 200px;
    height: 200px;
  }

.banner-image{
    height:450px;
    width:100%
}

.doctor-card:hover{
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}

.input-group{
    align-content: center;
    padding-left: 30%;
    @media (max-width: 576px) {
        align-content: center;
        align-items: center;
        padding-left: 15%;
        text-align: center;
        }
}

.form-control{
    width: 150px;
}

.doctor-name-text{
    font-size: 1.2rem;
  }

  .doctor-dept-text{
    color: rgb(86, 86, 86);
  }

  .doctor-fees-text{
    color: green;
  }

  .rupee-img{
    height: 40px;
  }

  .doctor-fees{
    padding-top: 8px;
  }