<img src="assets/meet-our-doctors.png" class="banner-image" alt="meet-doctors">
<h1 class="text-center my-3">OUR DOCTORS</h1>
<div class="input-group gap-1 ps-5">
    <span class="mt-1 pb-1">Search:</span>
    <input type="text" class="form-control" placeholder="Doctor name" aria-label="Doctor's username"
        aria-describedby="basic-addon2" [(ngModel)]="searchValue">
</div>
<div class="container d-flex flex-wrap my-3">
    <ng-container *ngFor="let doctor of doctorList">
        <mat-card class="doctor-card mx-3"
            *ngIf="searchValue === '' || doctor.first_name.toLowerCase().includes(searchValue)">
            <img class="doctor-image" src="../../../assets/doctor.jpg" alt="Photo of doctor">
            <mat-card-content>
                <div class="text-center pt-3 doctor-name-text">{{doctor.first_name}}</div>
                <div class="text-center pt-1 doctor-name-text">{{doctor.department}}</div>
                <div class="text-center pt-1 doctor-name-text">{{doctor.doctor_fees}}</div>
            </mat-card-content>
            <mat-card-actions class="mx-auto">
                <button mat-raised-button color="primary" class="book-button"
                    [routerLink]="['/booking', doctor._id]">BOOK
                    AN APPOINTMENT</button>
            </mat-card-actions>
        </mat-card>
    </ng-container>
</div>