<img src="assets/meet-our-doctors.png" class="banner-image" alt="meet-doctors">
<h1 class="text-center my-3">OUR DOCTORS</h1>
<div class="input-group gap-5 d-flex">
    <div class="d-flex">
        <span class="mt-1 pb-1">Search:</span>
        <input type="text" class="form-control" placeholder="Doctor name" aria-label="Doctor's username"
            aria-describedby="basic-addon2" [(ngModel)]="searchValue" (ngModelChange)="updateDoctors()">
    </div>

    <div class="d-flex">
        <span class="mt-1 pb-1">Department:</span>
        <select id="departmentFilter" class="form-select" [(ngModel)]="selectedDept" (ngModelChange)="updateDoctors()">
            <option value="">All Departments</option>
            <option *ngFor="let department of deptList" value={{department.dept_name}}>
                {{department.dept_name}}
            </option>
        </select>
    </div>
</div>
<div class="container d-flex flex-wrap my-3">
    <ng-container *ngFor="let doctor of filteredDoctorList; trackBy:trackById">
        <mat-card class="doctor-card mx-3">
            <img class="doctor-image" src="../../../assets/doctor.jpg" alt="Photo of doctor">
            <mat-card-content>
                <div class="text-center pt-3 doctor-name-text">Dr.{{doctor.first_name}}</div>
                <div class="text-center pt-1 doctor-dept-text">{{doctor.department}}</div>
                <div class="text-center pt-1 doctor-fees-text d-flex">
                    <div>
                        <img src="../../../assets/rupee.gif" alt="" class="rupee-img">
                    </div>
                    <div class="doctor-fees">
                        ₹{{doctor.doctor_fees}}
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions class="mx-auto">
                <button mat-raised-button color="primary" class="book-button"
                    [routerLink]="['/booking', doctor._id]">BOOK
                    AN APPOINTMENT</button>
            </mat-card-actions>
        </mat-card>
    </ng-container>
</div>