<div class="top-bar ">
    <mat-icon class="icon me-3 my-1">facebook</mat-icon>
    <mat-icon class="icon mx-1 my-1">phone</mat-icon>
    <mat-icon class="icon mx-1 my-1">email</mat-icon>
    <span class="icon mx-1 my-1">Mediconnect@gmail.com |</span>
</div>
<nav class="navbar navbar-expand-lg navbar-custom ">
    <div class="container-fluid">
        <img src="../../../assets/logo.png" alt="" class="navbar-brand logo" [routerLink]="['/']">
    </div>
</nav>

<div class="img-div">
    <img src="../../../assets/error-page.png" alt="error-page" class="error-img">
</div>