.card-list{
    padding: 25px;
}

.doctor-card{
    width:250px;
    height:225px;
    background-color: beige;
    border-radius: 30%;
    align-items: center;
    border: none;
}

.doctor-image{   
    width: 100px;
    margin-top: 10%;
}

.doctor-text{
    margin-top: 15px;
}

.patient-image{
    width: 150px;
    margin-top: 10%;
}

.staff-image{
    width: 110px;
    margin-top: 10%;
}

.patient-text{
    margin-top: 17px;
}

.staff-text{
    margin-top: 20px;
}

.doc-count{
    margin-left: 10px;
    margin-top: 15px;
    color: green;
    font-size: 25px;
    margin-right: 25px;
}

.staff-count{
    color: green;
    font-size: 25px;
    margin-top: 20px;
    margin-left:10px;
}

.patient-count{
    color: green;
    font-size: 25px;
    margin-top: 15px;
    margin-left: 10px;
}