<div class=" vh-100 w-100 fullPage">
    <mat-toolbar class="topNav d-flex justify-content-between px-3">

        <div>
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>

        <div class="input-group w-50">
            <input type="text" class="form-control" placeholder="Patient name" aria-label="Recipient's username"
                aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2">Search</span>
        </div>

        <div>
            <button mat-icon-button>
                <mat-icon>logout</mat-icon>
            </button>

        </div>

    </mat-toolbar>
    <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side">
            <mat-list class="w-100">
                <mat-list-item><button mat-button [routerLink]="['/admin']">
                        <mat-icon>dashboard</mat-icon>
                        Dashboard
                    </button>
                </mat-list-item>
                <mat-list-item><button mat-button [routerLink]="['users']">
                        <mat-icon>face</mat-icon>
                        Users
                    </button>
                </mat-list-item>
                <mat-list-item><button mat-button [routerLink]="['doctors']">
                        <mat-icon>person</mat-icon>
                        Doctors
                    </button>
                </mat-list-item>
                <mat-list-item><button mat-button [routerLink]="['staffs']">
                        <mat-icon>engineering</mat-icon>
                        Staffs
                    </button>
                </mat-list-item>
            </mat-list>
        </mat-drawer>

        <div class="example-sidenav-content">
            <router-outlet></router-outlet>
        </div>

    </mat-drawer-container>
</div>