<div class="top-banner">
    <img src="assets/million-lives-banner.jpg" class="top-banner-img" alt="">
</div>
<div class="payment-banner">
    <img src="../../../assets/payment-banner.webp" class="payment-banner-img" alt="">
</div>
<div class="d-flex doctor-booking">
    <div class=" d-flex flex-wrap my-3">
        <mat-card class="doctor-card mx-3">
            <img class="doctor-image" src="../../../assets/doctor.jpg" alt="Photo of doctor">
            <mat-card-content>
                <div class="text-center pt-3 doctor-name-text">{{doctorDetails?.first_name }}
                </div>
                <div class="text-center pt-1 doctor-name-text">{{doctorDetails?.department}}</div>
                <div class="text-center pt-1 doctor-name-text">{{doctorDetails?.doctor_fees}}</div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="date-picker">
        <mat-form-field class="fullWidth">
            <input matInput [matDatepicker]="datepicker" [min]="todayDate" placeholder="Select a date"
                (dateChange)="onDateChange($event)">
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #datepicker></mat-datepicker>
        </mat-form-field>

        <div *ngIf="selectedDate">
            <h3>Available Time Slots for {{ selectedDate | date }}</h3>
            <form [formGroup]="timeForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="fill">
                    <mat-label>Select Time Slot</mat-label>
                    <mat-select formControlName="time">
                        <mat-option *ngFor="let slot of slotDetails; trackBy:trackById" [value]="slot.start_time ">
                            {{ slot.start_time }} - {{ slot.end_time }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-raised-button color="primary" class="ms-3">Book Appointment</button>
            </form>
        </div>
    </div>


</div>