<div class="d-flex">
    <div class=" d-flex flex-wrap my-3">
        <mat-card class="doctor-card mx-3">
            <img class="doctor-image" src="../../../assets/doctor.jpg" alt="Photo of doctor">
            <mat-card-content>
                <div class="text-center pt-3 doctor-name-text">{{doctorDetails?.first_name }}
                </div>
                <div class="text-center pt-1 doctor-name-text">{{doctorDetails?.department}}</div>
                <div class="text-center pt-1 doctor-name-text">{{doctorDetails?.doctor_fees}}</div>
            </mat-card-content>
        </mat-card>
    </div>
    <mat-card>
        <div>
            <mat-form-field class="fullWidth">
                <input matInput [matDatepicker]="datepicker" placeholder="Select a date"
                    (dateChange)="onDateChange($event)">
                <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker></mat-datepicker>
            </mat-form-field>
        </div>
        <div *ngIf="selectedDate">
            <h3>Available Time Slots for {{ selectedDate | date }}</h3>
            <form [formGroup]="timeForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="fill">
                    <mat-label>Select Time Slot</mat-label>
                    <mat-select formControlName="time">
                        <mat-option *ngFor="let slot of slotDetails" [value]="slot.start_time ">
                            {{ slot.start_time }} - {{ slot.end_time }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-raised-button color="primary">Book Appointment</button>
            </form>
        </div>
    </mat-card>

</div>

<!-- <div *ngIf="selectedDate">
    <h3>Available Time Slots for {{ selectedDate | date:'yyyy-MM-dd' }}</h3>

    <mat-form-field>
        <mat-label>Department</mat-label>
        <mat-select placeholder="Select time" formControlName="time" class="fullWidth">
            <mat-option *ngFor="let slot of getSlotsForSelectedDate()" [value]="slot.startTime">
                {{ slot.startTime }} - {{ slot.endTime }}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="timeForm.get('time')?.hasError('required')">
            time is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="bookAppointment()">Book Appointment</button>
</div> -->